
h1 {
  text-align: center;
}

span {
  display: table-cell;
  font-size: 17pt;
}

input {
  width: 550px;
  height: 30px;
  margin-top: 10px;
  padding: 10px;
  border: solid 3px #1E90FF;
	border-radius: 5px;
  font-size: 23px;
}

textarea {
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 3px #1E90FF;
	border-radius: 5px;
  font-size: 20px;
}

.container {
  padding: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imgBox {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}

.imgUpload {
position: absolute;
float: left;
left: 10px;
bottom: 600px;
}

.imgUpload > input {
  border: none;
  margin-left: 160px;
}

.title {
  margin-bottom: 30px;
}

.footer {
  display: flex;
  justify-content :center;
  align-items: center;
  padding: 0 20px 0 20px;
}

button {
  width: 150px;
  margin-right: 100px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
}

a { 
  text-decoration: none;
}
